settings:
  - name: popo_app_key
    type: text-input
    required: true
    label:
      en_US: POPO机器人的appKey
      zh_Hans: POPO机器人的appKey
    llm_description: 机器人的appKey
  - name: popo_app_secret
    type: text-input
    required: true
    label:
      en_US: POPO机器人的appSecret
      zh_Hans: POPO机器人的appSecret
    llm_description: 机器人的appSecret
  - name: token
    type: text-input
    required: true
    label:
      en_US: 机器人事件订阅的token
      zh_Hans: 机器人事件订阅的token
    placeholder:
      en_US: 请输入你的 POPO机器人token
      zh_Hans: 请输入你的 POPO机器人token
  - name: aesKey
    type: text-input
    required: true
    label:
      en_US: 机器人事件订阅的aesKey
      zh_Hans: 机器人事件订阅的aesKey
    placeholder:
      en_US: 请输入你的 POPO机器人aesKey（长度32位）
      zh_Hans: 请输入你的 POPO机器人aesKey（长度32位）
  - name: agent
    type: app-selector
    required: true
    scope: all
    label:
      en_US: 处理消息的智能体
      zh_Hans: 处理消息的智能体
    placeholder:
      en_US: 销售档案解读大师
      zh_Hans: 销售档案解读大师
  - name: agent_type
    type: select
    required: true
    options:
      - value: "chat"
        label:
          zh_Hans: "聊天助手"
          en_US: "聊天助手"
      - value: "workflow"
        label:
          zh_Hans: "工作流"
          en_US: "工作流"
      - value: "chatflow"
        label:
          zh_Hans: "对话流"
          en_US: "对话流"
    label:
      en_US: 应用类型（必须与绑定的智能体一致）
      zh_Hans: 应用类型（必须与绑定的智能体一致）
    placeholder:
      en_US: 对话流
      zh_Hans: 对话流
  - name: auto_reply_preset_message
    type: text-input
    required: false
    label:
      en_US: 自动回复时一条预设消息（不填则无）
      zh_Hans: 自动回复一条预设消息（不填则无）
    placeholder:
      en_US: 示例：处理中，请稍等...
      zh_Hans: 示例：处理中，请稍等...
    llm_description: 自动回复时的预设消息，在智能体结果自动回复给popo之前先发送一条消息给用户
  - name: is_auto_reply
    type: boolean
    required: true
    default: true
    label:
        en_US: 机器人自动回复智能体执行结果
        zh_Hans: 机器人自动回复智能体执行结果
  - name: enable_memory
    type: boolean
    required: true
    default: true
    label:
        en_US: 为对话流应用启用记忆功能（1小时未使用则清除记忆）
        zh_Hans: 为对话流应用启用记忆功能（1小时未使用则清除记忆）
#  - name: group_message_reply_method
#    type: select
#    required: false
#    options:
#      - value: "private_chat"
#        label:
#          zh_Hans: "以私聊回复"
#          en_US: "以私聊回复"
#      - value: "group_chat"
#        label:
#          zh_Hans: "群内回复"
#          en_US: "群内回复"
#    label:
#      en_US: 收到群@时的回复方式
#      zh_Hans: 收到群@时的回复方式
#    placeholder:
#      en_US: 以私聊回复
#      zh_Hans: 以私聊回复

#  - name: workflow_input_field
#    type: text-input
#    required: false
#    default: popo_input_message
#    label:
#      en_US: 工作流类型应用的输入字段
#      zh_Hans: 工作流类型应用的输入字段
#    human_description:
#      en_US: 由于工作流类型应用的输出字段是自定义的，需要指定字段名称
#      zh_Hans: 由于工作流类型应用的输出字段是自定义的，需要指定字段名称
#  - name: workflow_output_field
#    type: text-input
#    required: false
#    default: popo_output_message
#    label:
#      en_US: 工作流类型应用的输出字段
#      zh_Hans: 工作流类型应用的输出字段
#    human_description:
#      en_US: 由于工作流类型应用的输出字段是自定义的，需要指定字段名称
#      zh_Hans: 由于工作流类型应用的输出字段是自定义的，需要指定字段名称

#  - name: log_reporting_address
#    type: text-input
#    required: false
#    label:
#      en_US: 日志上报地址（可忽略，线上插件的运行日志将post到该地址）
#      zh_Hans: 日志上报地址（可忽略，线上插件的运行日志将post到该地址）
#    placeholder:
#      en_US: https://dev-log-jystudy.app.codewave.163.com/rest/addLog
#      zh_Hans: https://dev-log-jystudy.app.codewave.163.com/rest/addLog
#  - name: sleep_time
#    type: text-input
#    required: false
#    label:
#      en_US: 主线程休眠时间（可忽略，调试用）
#      zh_Hans: 主线程休眠时间（可忽略，调试用）
#    placeholder:
#      en_US: "0"
#      zh_Hans: "0"

endpoints:
  - endpoints/popo_application_bot_callback_GET.yaml
  - endpoints/popo_application_bot_callback_POST.yaml
