identity:
  name: send_popo_message
  author: wangfeng
  label:
    en_US: 应用机器人推送消息
    zh_Hans: 应用机器人推送消息
description:
  human:
    en_US: 调用应用机器人向popo用户发私信或群聊。
    zh_Hans: 调用应用机器人向popo用户发私信或群聊。
  llm: 调用popo机器人向popo用户或群里推送消息
parameters:
  - name: receiver
    type: string
    required: true
    label:
      en_US: 接收人
      zh_Hans: 接收人
    human_description:
      en_US: popo邮箱或群号，如：6666888、zhangsan@corp.netease.com
      zh_Hans: popo邮箱或群号，如：6666888、zhangsan@corp.netease.com
    llm_description: 接收消息的popo邮箱账号或者群号
    form: llm
  - name: message
    type: string
    required: true
    label:
      en_US: 消息内容
      zh_Hans: 消息内容
    human_description:
      en_US: 不得超过五千字符，注意限制上游的输出长度
      zh_Hans: 不得超过五千字符，注意限制上游的输出长度
    llm_description: 发送的消息内容，不能超过五千字符
    form: llm
  - name: at
    type: string
    required: false
    label:
      en_US: 群消息的@对象
      zh_Hans: 群消息的@对象
    human_description:
      en_US: 向群里推送消息时可@泡泡邮箱，为all时代表@全体成员
      zh_Hans: 向群里推送消息时可@泡泡邮箱，为all时代表@全体成员
    llm_description: 向群里推送消息时可@指定的泡泡用户，为all时代表@全体成员，仅当消息的接收方为群号时才能@
    form: llm
  - name: popo_app_key
    type: string
    required: true
    label:
      en_US: popo机器人的appKey
      zh_Hans: popo机器人的appKey
    human_description:
      en_US: 在popo开发者后台>机器人中获取
      zh_Hans: 在popo开发者后台>机器人中获取
    llm_description: 机器人的appKey
    form: form
  - name: popo_app_secret
    type: string
    required: true
    label:
      en_US: popo机器人的appSecret
      zh_Hans: popo机器人的appSecret
    human_description:
      en_US: 在popo开发者后台>机器人中获取
      zh_Hans: 在popo开发者后台>机器人中获取
    llm_description: 机器人的appSecret
    form: form
  - name: auto_convert_markdown_image_link
    type: boolean
    required: true
    default: true
    label:
      en_US: 自动处理图片链接
      zh_Hans: 自动处理图片链接
    human_description:
      en_US: popo展示图片需要用特定格式：[img]http://a.com/照片.png[/img]，而大模型输出的图片链接默认是markdown格式，启用该配置后会将markdown图片链接转换为popo所需的格式
      zh_Hans: popo展示图片需要用特定格式：[img]http://a.com/照片.png[/img]，而大模型输出的图片链接默认是markdown格式，启用该配置后会将markdown图片链接转换为popo所需的格式
    llm_description: 是否自动将markdown图片链接转换为发送消息所需的格式
    form: form
extra:
  python:
    source: tools/popo_application_bot.py
